

body{
	/*font-family: 'Raleway', sans-serif !important;*/
	font-family: 'Oxygen', sans-serif !important;
	position: relative;
	
}
body, html{
	height: 100%;
	 margin:0;
    padding:0;
    
}

/*media queries*/ 

@media (max-width: 992px) {
    .logoheader{
    	top: 10% !important;
    }
    .title{
    	font-size: 3em !important;
    }

    .profile img{
    	width: 200px;
    	height: 200px;
    }
}

/*@media (max-width: 1140px){
	.overlay h4{
		font-size: 1em !important;
	}
}*/
/* top of page */

.headerBackground:before{
	content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    /*background-color: rgba(0,0,0,.7);*/
    background-color: #13505b; 
    opacity: 0.7;
    




}

.headerBackground{
	background: url('../images/byso2.jpg');	
	background-size: cover;
	background-position: top center;
	background-repeat: no-repeat;
	height: 100%;
	
	z-index: 1;
	opacity: 0;
	transition: opacity 0.2s;

}

.headerBackgroundColor{
	background-color: #0c7489;
	transition: 0.2s;
}
#particles-js{
	transform: translateY(-100%);
	height: 100%;
    height: 100vh;
    z-index: 4;
}
#top{
	/*background: url('../images/music.jpg');	
	background-size: cover;
	background-position: top center;
	background-repeat: no-repeat;*/
/*	transform: translateY(-100%);
*/	
	
	height: 100%;
	z-index: 10;
/*	transform: translateY(-100%);
*/	
/*padding-top: 10%;
*/	
	transition: 0.2s;

	
	
}


.vertical-center{
	z-index: 10;
	top: 40% !important;
	min-height: 100%;
	min-height: 100vh;
	display: flex;
    align-items: center;
    padding: 2em;
}
.logoheader{

/*	position: relative;
*/	/*text-align: center;*/
	
	
}
.aboutItemColor{
	border: 1px solid white !important; 
	transition: 0.2s;
}
.aboutItemColor a{
	color: white !important;
	transition: 0.2s;
}

.aboutItem{
	margin-top: 10px !important;
    border: 1px solid black;
    position: relative;
    transition: 0.2s;


}
.specialAbout{
	margin-top: 10px !important;
    border: 1px solid black;
    position: relative;
    transition: 0.2s;
}
.specialAbout a{
	color: black;
	display: inline-block; 
	padding: 20px;

	width:100%;
	height: 100%; 
	letter-spacing: 0.4em;
	margin-right: -0.2em;
}

.specialAbout:hover{
	background-color: white;
	border: 1px solid white; 
	transition: 0.2s;
}

.specialAbout:hover > a{
	color: #119da4;
	transition: 0.2s;

}
.aboutItem:hover{
	/*background-color: #119da4;*/
	border: 1px solid white;
	transition: 0.2s;
}
.aboutItem a{
	color: black;
	display: inline-block; 
	padding: 20px;

	width:100%;
	height: 100%; 
	letter-spacing: 0.4em;
	margin-right: -0.2em;
}
.aboutItem:hover > a{
	color: #119da4;
	transition: 0.2s;
}
#aboutList{
	list-style-type: none !important;
}
.logo {
	padding: 0px !important;
	/*text-align: center !important;*/
	/*margin-bottom: 15%;*/
	transform: translateY(20%);
}
#contactDropdown{
	display: inline;
}


.aboutItem:last-child:hover{
	padding-bottom: 20px !important;
	
	padding-bottom: 0px; 
	transition: 0.2s;
}
.aboutItem:last-child:hover > .dropdown{
	visibility:visible;
	opacity: 1;
	/*border:1px white !important;*/
	transition: visibility  0s, opacity 0.2s linear;
}
.dropdown{
	position: absolute;
	/*background: white;*/
	margin-top: -10px;
/*border-top-left-radius: 10px;
*/ 	border-bottom-left-radius: 10px;
/*    border-top-right-radius: 10px;
*/    border-bottom-right-radius: 10px;
    visibility: hidden;

    opacity: 0;
    width: 100%;
    transition: visibility  0s, opacity 0.2s linear;

}
.dropdown a{
/*	border: 1px solid rgba(19, 80, 91, 1.0);  !important;
*/
	margin-right: auto !important;

}
/*.dropdown:after{
	content: "";
    width: 0;
    height: 0;
    position: absolute;
    bottom: 100%;
    right: 15px;
    border-width: 0 6px 6px 6px;
    border-style: solid;
    border-color: #fff transparent; 
}*/
.dropdown li{
	position: relative;
}
.dropdownLink{
	padding: 4px !important;
	transition: 0.2s;

}

.dropdownLink:hover{
	opacity: 0.5;
	transition: 0.2s;
}

@keyframes fadeup {

	from{
		bottom: -100px;
		opacity: 0.0;
	}
	to{
		bottom: 0px;
		opacity: 1.0;
	}
}
.title{
	/*letter-spacing: 0.3em;*/

	position: relative;
	vertical-align: middle;
	
	color: black;
	font-weight:normal !important;
	transition: 0.25s all;
	
	/*nimation-name: fadeup;
	animation-fill-mode:forwards;
	animation-duration: 1s; 
	animation-delay: 2.7s;*/

}

.hidden{
	display: none;
}

.visuallyHidden{
	opacity: 0 !important; 
	transition: opacity 0.2s linear;
}

.show{
	/*-webkit-transform: translateY(-100%);  
    -ms-transform: translateY(-100%); 
    transform: translateY(-100%);  
    */
    top: 50% !important;
	margin: 0px !important;
	/*height: 100%;*/
	background-color: #0c7489;
    opacity: 1 ;
    transition:  opacity 0.2s linear;
    z-index: 25;

}
#about{
	height: 100%;
	
	position: absolute;
	padding: 10% !important;
}
#about h2{
	color: white;
	border-bottom: solid 1px white;
}
#about p{
	color: white;
}

#about img{
	border: solid 2px white;
}

#softwareContent{
	position: absolute;
	top: 0% !important;
	padding-top: 5% !important;
	padding-bottom: 20% !important;
}

#softwareContent h4{
	border-bottom: 2px solid white;
	color: white;
}

@keyframes fadedown {

	from{
		bottom: +100px;
		opacity: 0.0;
	}
	to{
		bottom: 0px;
		opacity: 1.0;
	}
}
.titledescription {
	position: relative;
	vertical-align: middle;
	color: white;
	/*animation-name: fadedown;
	animation-fill-mode:forwards;
	animation-duration: 1s; 
	animation-delay: 2.7s;*/
}

#center{
	text-align: center;
}

.headerLine {
/*	float:left;
*/	width: 70%;
	size: 10px;
	background-color: white;
	/*animation-name: expand;
	animation-fill-mode:forwards;
	animation-duration: 1s;
	animation-delay: 1s;*/
}

@keyframes expand {
	from {
		width: 0px;
	}
	to{
		width: 50%;
	}
}

@keyframes fadein {

	from{
		bottom: +100px;
		opacity: 0.0;
	}
	to{
		bottom: 0px;
		opacity: 1.0;
	}
}
.arrow{
	text-decoration: none !important;
	color: white;
	
	text-align: center;
	transition: color .3s;
	transition: opacity.3s;
	
	display: block;
 	padding-bottom: 60px;
  margin-top: 10px;
  left: 50%;
  z-index: 2;
  display: inline-block;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);

/*  animation-name: fadein;
	animation-fill-mode:forwards;
	animation-duration: 2s; 
	animation-delay: 4s;*/

	transition: 0.3s;

}

.arrow:hover{
	color: rgba(255, 255, 255, 0.5);

}
.arrow span{
  position: absolute;	
  color: white;
  top: 25%;
  left: 50%;
  width: 24px;
  height: 24px;
  margin-left: -12px;
  border-left: 1px solid white;
  border-bottom: 1px solid white;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-animation: sdb04 1.0s infinite;
	
  animation: sdb04 1.0s alternate infinite;
  box-sizing: border-box;
  transition: opacity 2s;
}


@-webkit-keyframes sdb04 {

	from{
		-webkit-transform: rotate(-45deg) translate(0, 0); 
	}
	to{
		-webkit-transform: rotate(-45deg) translate(-10px, -10px); 
	}
}
@keyframes sdb04 {

from{
		transform: rotate(-45deg)  translate(0, 0); 
	}
	to{
		transform: rotate(-45deg) translate(-10px, 10px); 
	}
}

.profile{
	padding: 0px !important;
}
.profile img{
	border-radius: 50%;
	border: 5px solid white;
}

.headerRow{
	margin-bottom: 20px;
}



/* website cards */

.codingRow{
	margin-top: 30px;
	margin-bottom: 30px;
}
.divLink{
	position:absolute; 
  width:100%;
  height:100%;
  top:0;
  left: 0;

  z-index: 1;
}
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  /*width: 100%;*/
  opacity: 0;
  transition: .5s ease;
  background-color: rgba(19, 80, 91, 0.7); 
}
#codingPortfolio{
	margin-top: 70px;
}

.styling_image img{
		width: 100%;
		border: solid 2px white;

}
.no_padding{
	padding: 0px !important;
	margin: 10px;
}

#vitaedev:hover .overlay{
	opacity: 1; 
}
#lce:hover .overlay{
	opacity: 1; 
}

#team3205:hover .overlay{
	opacity: 1; 
}
#robot:hover .overlay{
	opacity: 1; 
}
#vitaedev:hover .overlay{
	opacity: 1; 
}
#rockets:hover .overlay{
	opacity: 1; 
}
#robot2:hover .overlay{
	opacity: 1;
}


.overlay h4{

	font-size: 1.5em !important;
	position: absolute;
	color: white;
	bottom: 40px;
	left: 20px;

}
.overlay p{
	position: absolute;
	color: white;
	bottom: 5px;
	left: 20px;

}

.btn-primary {
    background: #134050 !important;
/*    color: #ffffff !important;
*/}
 
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    background: #134050!important;
}
 
.btn-primary:active, .btn-primary.active {
    background: #134050!important;
    box-shadow: none;
}


.imageLink{
    border: 1px; 
    transition: 0.2s;
}
.imageLink:hover{
    opacity:0.6; 
}

#linkedin{
	border-radius: 50%;
}

.sk-cube-grid {
  width: 40px;
  height: 40px;
 
  z-index: 1001;
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.sk-cube-grid .sk-cube {
  width: 33%;
  height: 33%;
  background-color: white;
  float: left;
  -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
          animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out; 
}
.sk-cube-grid .sk-cube1 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }
.sk-cube-grid .sk-cube2 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s; }
.sk-cube-grid .sk-cube3 {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s; }
.sk-cube-grid .sk-cube4 {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s; }
.sk-cube-grid .sk-cube5 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }
.sk-cube-grid .sk-cube6 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s; }
.sk-cube-grid .sk-cube7 {
  -webkit-animation-delay: 0s;
          animation-delay: 0s; }
.sk-cube-grid .sk-cube8 {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s; }
.sk-cube-grid .sk-cube9 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }

@-webkit-keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1);
  } 35% {
    -webkit-transform: scale3D(0, 0, 1);
            transform: scale3D(0, 0, 1); 
  }
}

@keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1);
  } 35% {
    -webkit-transform: scale3D(0, 0, 1);
            transform: scale3D(0, 0, 1);
  } 
}

#loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
}

#loader-wrapper .loader-section {
    position: fixed;
    top: 0;
    width: 51%;
    height: 100%;
    background: #134050;
    z-index: 1000;
}

#loader-wrapper .loader-section.section-left {
    left: 0;
}

#loader-wrapper .loader-section.section-right {
    right: 0;
}

/* Loaded */
.loaded #loader-wrapper .loader-section.section-left {
    -webkit-transform: translateX(-100%);  /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: translateX(-100%);  /* IE 9 */
    transform: translateX(-100%);  /* Firefox 16+, IE 10+, Opera */
}

.loaded #loader-wrapper .loader-section.section-right {
    -webkit-transform: translateX(100%);  /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: translateX(100%);  /* IE 9 */
    transform: translateX(100%);  /* Firefox 16+, IE 10+, Opera */
}

.loaded #loader {
    opacity: 0;
    -webkit-transition: all 0.3s ease-out;
            transition: all 0.3s ease-out;
}

.loaded #loader-wrapper {
    visibility: hidden;
    -webkit-transform: translateY(-100%);
            -ms-transform: translateY(-100%);
                transform: translateY(-100%);

        -webkit-transition: all 0.3s 0.6s ease-out;
                transition: all 0.3s 0.6s ease-out;
}

.loaded #loader-wrapper .loader-section.section-right,
.loaded #loader-wrapper .loader-section.section-left {

    -webkit-transition: all 0.3s 0.3s ease-out;
            transition: all 0.3s 0.3s ease-out;
}

.no-js #loader-wrapper {
    display: none;
}

